.textAnimated{
    border-right: 2px solid #000;
    width: 11ch;
    animation: blinkmarker 0.8s infinite, writing 8s infinite steps(12);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes blinkmarker {
    50% {
        border-color: transparent;
    }
}

@keyframes writing {
    0% {
        width: 0;
    }
    40% {
        width: 11ch;
    }
    60%{
        width: 11ch;
    }
    100% {
        width: 0;
    }
}